@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #1e1e1c;
} */
  /* background-color:  rgb(55, 55, 55); */

  .body-light {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
  }

.body-dark {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #1e1e1c;
  background-size: 1920px  1080px;
}

.header {
  background-color: #F5F5F5;
  padding-top: 10px;
  margin-bottom: 20px;
}

.header-dark {
  background-color: #333333;
  padding-top: 10px;
  margin-bottom: 20px;
}

h1 {
  font-size: 28px;
  font-weight: 600;
  color: #6D6D6D;
  float: left;
  padding-top: 0px;
}

.red-heading {
  color: #cc3333;
  padding-top: 0px;
 /* font-size: 28px; */
}

h2 {
  font-size: 28px;
  font-weight: 600;
  color: #6D6D6D;
  float: left;
  padding: 1px;
}

.red-heading2 {
  color: #cc3333;
  padding-top: 10px;
 /* font-size: 28px; */
}

.lyric-heading {
  color: #cc3333;
  font-size: 15px;
  margin-left: 1pxl;
  margin-right: 1pxl;
  margin-bottom: 1pxl;
  margin-top: 1pxl;
  /* float: right; */
  /* padding: 30px; */
}

.title-heading {
  color: rgb(20, 1, 1);
  font-size: 15px;
  margin-left: 1pxl;
  margin-right: 1pxl;
  margin-bottom: 1pxl;
  margin-top: 1pxl;
  padding: 30px;
}

.play-heading {
  margin-left: 20px;
  margin-top: 10px;
}

.table {
  background-color: #F5F5F5;
  font-size: 12px;
}


.table-dark {
  font-size: 12px;
}

.table td, .table th {
  background-color: #F8F8F8;
  padding: 7px;
  font-size: 12px;
  cursor: pointer;
}

.table-dark td, .table-dark th {
  background-color: #242424;
  font-size: 12px;
  color: #F5F5F5;
  padding: 7px;
  cursor: pointer;
}

.video-list-container {
  background-color: #F5F5F5;
}

.video-list {
  background-color: #F5F5F5;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 354px;
}

.video-list-container-dark {
  background-color: #333333;
  color: #ffffff;
}

.video-list-dark {
  background-color: #323234;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 354px;
}



.video-list-text-dark {
  background-color: #000000;
  color: white
}

.video-list button {
  border: none;
  background-color: #F5F5F5;
}

.video-list > .table {
  background-color: #F5F5F5;
  cursor: pointer;
}

.video-list-close {
  background-color: #F5F5F5;
  width: 60px;
}

.caption-area {
  background-color: #F5F5F5;
  margin-top: 20px;
  padding: 30px;
}

.caption-area-dark {
  background-color: #323234;
  margin-top: 20px;
  padding: 30px;
}

.captionTable {
  cursor: pointer;
}

.player {
  padding-top: 7px; 
  background-color: black;
}

.alert {
  padding: 7px; 
  width: 260px;
  height: 39px;
}

.textfield {
  color: white;
}

.toggle {
  position: relative;
  padding: 0 4px;
  display: flex;
  align-items: center;
}

input[type="checkbox"].checkbox {
  width: 40px;
  height: 10px;
  background: #555;
  position: relative;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  vertical-align: 2px;
  outline: none;
}

input[type="checkbox"].checkbox:checked + label {
  left: 30px;
}

input[type="checkbox"].checkbox:focus-visible {
  outline: solid 2px white;
}

input[type="checkbox"].checkbox + label {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: all 0.2s ease;
  cursor: pointer;
  position: absolute;
  left: 2px;
  background: #fff;
  opacity: 0.9;
  background-color: cyan;
}

.toggle-container {
  display: flex;
  margin-left: -65px;
}

.toggle-container > span {
  font-size: 1.2em;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
  margin-top: 4px;
  margin-right: 2px;
}

.toggle-container > span:last-child {
  margin-top: 5px;
}